---
http_interactions:
- request:
    method: get
    uri: https://devru-latitude-longitude-find-v1.p.mashape.com/latlon.php?location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - "<X-Mashape-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"powerdBy":"deVru","Results":[{"name":"Denver, Colorado","type":"city","c":"US","zmw":"80201.1.99999","tz":"America\/Denver","tzs":"MST","l":"\/q\/zmw:80201.1.99999","ll":"39.740002
        -104.980003","lat":"39.740002","lon":"-104.980003"}]}'
  recorded_at: Thu, 03 Jan 2019 23:50:11 GMT
[...]
- request:
    method: get
    uri: https://devru-latitude-longitude-find-v1.p.mashape.com/latlon.php?location=Denver,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mashape-Key:
      - "<X-Mashape-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"powerdBy":"deVru","Results":[{"name":"Denver, Colorado","type":"city","c":"US","zmw":"80201.1.99999","tz":"America\/Denver","tzs":"MST","l":"\/q\/zmw:80201.1.99999","ll":"39.740002
        -104.980003","lat":"39.740002","lon":"-104.980003"}]}'
  recorded_at: Thu, 03 Jan 2019 23:50:12 GMT
recorded_with: VCR 4.0.0
